{{/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/}}

{{define "content"}}
<div class="container">
    <div class="row justify-content-center mb-4">
        <img src="/static/img/STP-Logo.png" class="img-fluid image-responsive rounded"
             style="width: 256px; height: 256px;">
    </div>
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8">
            <p>{{T "Access to this instance of the Systemtestportal has been restricted." .}}</p>
            <p><a data-toggle="modal" data-target="#signin-modal" href="">Sign in</a> {{if .SystemSettings.IsRegistrationAllowed}}or <a href="/register">create an account</a>{{end}} to proceed.</p>
        </div>
    </div>
</div>
{{end}}