/*
This file is part of SystemTestPortal.
Copyright (C) 2017  Institute of Software Technology, University of Stuttgart

SystemTestPortal is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

SystemTestPortal is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with SystemTestPortal.  If not, see <http://www.gnu.org/licenses/>.
*/

/* Basic rules */
html {
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
    padding-top: 4.5rem!important;
	padding-bottom: 40px;
	min-width: 20rem;
	min-height: 100%;
	margin: 0;
    position: relative;
	background-color: #eee;
}

.footer {
	position: absolute!important;
	right: 0;
	left: 0;
	bottom: 0;
	height: 40px;
	color: rgba(255,255,255,.5);
}

.action-bar {
	border-bottom: 1px solid rgba(0,0,0,.125);
}

.tab-side-bar {
	border-left: 1px solid rgba(0,0,0,.125);
}
.tab-side-bar-row {
	margin-left: 0;
	margin-right: 0;
}

#mainContent {
	margin-bottom: 50px;
}

.searchbar {
	padding-bottom: 1.25rem;
}
/* Basic rules end */

/* Cursor modifier */
/* pointer for links */
.cursor-clickable {
	cursor: pointer;
}

/* standard pointer */
.cursor-not-clickable {
	cursor: default;
}

/* pointer for disabled links */
.cursor-not-allowed {
	cursor:not-allowed !important;
}
/* Cursor modifier end*/

/* Signin dialog */
.form-signin {
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
	margin-bottom: 10px;
}
.form-signin .checkbox {
	font-weight: normal;
}
.form-signin .form-control {
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;

}
.form-signin .form-control:focus {
	z-index: 2;
}
.form-signin input[type="email"] {
	margin-bottom: -1px;
	border-bottom-right-radius: 0;
	border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
	margin-bottom: 10px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}
/*Signin end */

/* tooltip styles */
.tooltip-inverted .tooltip-inner{
	background-color: white;
	color: #212529;
}
.tooltip-inverted.bs-tooltip-right .arrow:before {
	border-right-color: white;
}
.tooltip-inverted.bs-tooltip-left .arrow:before {
	border-left-color: white;
}
.tooltip-inverted.bs-tooltip-bottom .arrow:before {
	border-bottom-color: white;
}
.tooltip-inverted.bs-tooltip-top .arrow:before {
	border-top-color: white;
}
.tooltip-inverted.bs-tooltip-right .arrow:before ,
.tooltip-inverted.bs-tooltip-left .arrow:before ,
.tooltip-inverted.bs-tooltip-bottom .arrow:before ,
.tooltip-inverted.bs-tooltip-top .arrow:before {
	color: white;
}
.tooltip-inner{
	max-width: none;
	text-align: left;
	white-space: pre-wrap;
}
/*tooltip end */

/* Project thumbnail styles */
.project-small-thumbnail {
	width: 100%;
}
.project-small-thumbnail img{
	width: 100%;
	height: 100%;
}
/* Project thumbnail styles end */

/* Print styles */
/* hides form fields in print view */
.hide-form {
	display: none;
}

/* text area for manual on paper execution */
.fill-in-area {
	background-color: lightgray;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
	height: 40px;
}

/* text area for manual on paper execution */
.fill-in-element {
	background-color: lightgray;
	-webkit-print-color-adjust: exact;
	color-adjust: exact;
}

/* two line text area for manual on paper execution */
.fill-in-area-two-line {
	height: 80px;
}

.non-collapsed-table {
	border-collapse: unset;
}

.badge {
	margin-right: 5px;
}

.tab-card {
	border-top:	0;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.text-card {
	padding: .5rem .75rem;
}
.text-card .card-block {
	padding: 0;
}

#userMenuDropdown {
	left: initial;
	right: 0;
}
.testCaseLine, .testCaseCell, .testSequenceLine, .projectLine, .userLine, .testSequenceCell, .versionLine, .clickIcon, .resultCaseCell, .resultSequenceCell, [type=button] { /*.groupLine*/
	cursor: pointer;
}

.testCaseLine:hover, .testCaseCell:hover, .testSequenceLine:hover, .testSequenceCell:hover, .resultCaseCell:hover, .resultSequenceCell:hover {
	background-color: #eeeeee;
}

.checkbox-list-element {
	margin-bottom: 0;
}

.checkbox input[type="checkbox"]
{
    margin-right: 5px;
}


/* time buttons */
#hour-plus, #minute-plus, #hour-minus, #minute-minus {
	padding-top: 0;
	padding-bottom: 0;
	line-height: 17.5px;
	border-left: 0;
	border-right: 1px rgba(0, 0, 0, 0.15) solid;

	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}

#hour-plus, #minute-plus {
	border-top-right-radius: 0.25rem;
	border-bottom-right-radius: 0;

}
#hour-minus, #minute-minus {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0.25rem;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
input[type="number"] {
	-moz-appearance: textfield;
}
/* time buttons end */


abbr[title] {
	border-bottom: none !important;
	text-decoration: none !important;
}

ol[class*="list-group"] {
	list-style: decimal inside;
}

ol[class*="list-group"]>.list-group-item {
	display: list-item;
}

.list-line-item {
	float: right;
}

.search-field {
	max-width: 300px;
}


/* Help Dialog */
.help-table td {
	vertical-align: middle;
	height: 40px;
}
.help-table {
	border-collapse: separate;
	border-spacing: 10px;
}
/* Help Dialog end */

/* hides the list dots at list menus */
#inputTestCaseSUTVariants {
	list-style-type: none;
}


/* media rules for smaller and bigger screen sizes */

/* maximum width of main container */
@media (min-width: 1200px) {
	.container-fluid {
		max-width: 1140px !important;
	}
}

/* change display style for smaller screens */
@media (max-width: 767px) {
	.mobile-full-width {
		margin-left: -15px;
		margin-right: -15px;
	}
	.mobile-full-width > div > .card {
		border: 0;
		border-radius: 0;
	}
}


/* hide tabs, when screen is too small to display them*/
/* show dropdown entries instead */
@media (min-width: 879px) {
    #tabButtonMembers,
    #tabButtonSettings{
        display: block;
    }
	#more,
	#menuButtonSettings,
	#menuButtonMembers{
		display: none;
	}
}
@media (max-width: 879px) {
    #tabButtonMembers,
    #tabButtonSettings{
        display: none;
    }
    #more,
    #menuButtonSettings,
    #menuButtonMembers{
        display: block;
    }
 }

@media (min-width: 773px) {
    #tabButtonProtocols {
        display: block;
    }
    #menuButtonProtocols {
		display: none;
	}
}
@media (max-width: 773px) {
    #tabButtonProtocols {
        display: none;
    }
    #menuButtonProtocols {
        display: block;
    }
}


@media (min-width: 643px) {
    #tabButtonTestSequences {
        display: block;
    }
    #menuButtonTestSequences {
        display: none;
    }
}
@media (max-width: 643px) {
    #tabButtonTestSequences {
        display: none;
    }
    #menuButtonTestSequences {
        display: block;
    }
}


@media (min-width: 501px) {
    #tabButtonTestCases {
        display: block;
    }
    #menuButtonTestCases{
        display: none;
    }
}
@media (max-width: 501px) {
    #tabButtonTestCases {
        display: none;
    }
    #menuButtonTestCases{
        display: block;
    }
}


@media (min-width: 396px) {
    #tabButtonActivity {
        display: block;
    }
    #menuButtonActivity{
        display: none;
    }
}
@media (max-width: 396px) {
    #tabButtonActivity {
        display: none;
    }
    #menuButtonActivity{
        display: block;
    }
}


/* Print rule: Unfold all entries in print view */
@media print {
	.collapse {
		display: block !important;
		height: auto !important;
	}
}

/*Colored Labels CSS*/
.color-selector-box {
	padding: 3px;
}

.color-selector:before{
	content: "";
	display: block;
	padding-top: 100%;
}

.color-selector {

	margin-left: 5px;
	margin-right: 5px;

	position: relative;
	width: 7%;
	min-width: 30px;

	display: inline-block;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.color-selector-picked:before {

	content: "";
	display: block;
	padding-top: 100%;
}

.color-selector-picked {

	box-shadow: 3px 3px 2px grey;

	margin-left: 5px;
	margin-right: 5px;

	position: relative;
	width: 7%;
	min-width: 30px;

	display: inline-block;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 0.25rem;
}

.roleNameInput {
	width: fit-content;
}

input.preconditionCheckbox {
	display: none;
  }
input.preconditionCheckbox .tag {
	color: #28a745;
	display: block;
	float: left;
	font-weight: bold;
	position: relative;
	width: 120px;
	cursor: pointer;
  }
input.preconditionCheckbox + label {
	display: inline;
	margin: 0em 1em 0em -1em;
	cursor: pointer;
  }
input.preconditionCheckbox + label:after {
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05), inset 0px -15px 10px -12px rgba(0, 0, 0, 0.05);
	display: inline-block;
	vertical-align: middle;
	transition-duration: 0.3s;
	width: 25px;
	height: 25px;
	content: '';
	margin-left: 10px;
  }
input.preconditionCheckbox:checked + label:after {
	background-color: #28a745;
  }

input.preconditionCheckbox:indeterminate + label:after {
	  background-color: #ffc107;
  }

div.no-highlight {
	float:left;
	outline-style:none;
}

span.preconditionText {
	display: inline-block;
	vertical-align: middle;
}
.mouse-hover-pointer:hover {
    cursor:pointer;
}

.task-item {
	margin: 10px;
}

.task-item-author {
	margin-right: 5px;
}

.label-list-btn {
    display: inline-block;
    text-align: center;
    width: 100%;
    padding: 1px;
    font-size: 1.02rem;
    opacity: 1;
    white-space: normal;
    border-radius:0.25rem;
    margin-top: 0.5rem;
}

.label-list-btn:hover {
    opacity: 1;
}

.permission-td{
	display:flex;
	flex-wrap:wrap;
}

.markdown-textarea {
	font-family: monospace;
	border: 0px;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
}

.markdown-paragraph {
	margin: 0;!important;
	display: inline-block;
}

/* Bootstrap Toggle v2.2.2 corrections for Bootsrtap 4*/
.toggle-off {
	box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
.toggle.off {
	border-color: rgba(0, 0, 0, .25);
}

.toggle-handle {
	background-color: white;
	border: thin rgba(0, 0, 0, .25) solid;
}

.navbar-message-text {
    display: inline-block;
    padding-top: 4.0rem;
    padding-bottom: .5rem;
    width: 100%;
    left: 0;
    text-align: center;
    margin: 0 auto;
}

.navbar-dark .navbar-message-text {
    color: rgba(255, 255, 255, 1);
}

.navbar-message-button {
    padding-top: 3.5rem;
}

.navbar-message-button-close {
	background-color: transparent;
}

.system-message-notification {
	background-color: #007bff!important;
}

.system-message-warning {
	background-color: #FF8D00!important;
}

.md-area {
	padding: 10px;
	border: 1px solid #c0c0c0;
	border-radius: 5px;
	background-color: white;
}

.md-area-attach-file {
	cursor: pointer;
	color: #1b69b6;
	align-content: right;
}

.md-area-bottom-toolbar {
	padding-top: 10px;
	color: #707070;
	border-top: 1px solid #e5e5e5;
	height: 35px;
}

.list-group-item:last-child {
    margin-bottom: 5px;
}

img{
	max-width: 100%;
}

.collapseElementButton .fa:before {content: "\f077";}
.collapseElementButton.collapsed .fa:before {content: "\f078";}

.editLabels {
	position: relative;
	bottom: 2px;
}

.timeline {
	list-style: none;
	padding: 20px 0 20px;
	position: relative;
}

.timeline:before {
	top: 0;
	bottom: 0;
	position: absolute;
	content: " ";
	width: 3px;
	background-color: #eeeeee;
	left: 50%;
	margin-left: -1.5px;
}

.timeline > li {
	margin-bottom: 20px;
	position: relative;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li:before,
.timeline > li:after {
	content: " ";
	display: table;
}

.timeline > li:after {
	clear: both;
}

.timeline > li > .timeline-panel {
	width: 46%;
	float: left;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
}

.timeline > li > .timeline-panel:before {
	position: absolute;
	top: 26px;
	right: -15px;
	display: inline-block;
	border-top: 15px solid transparent;
	border-left: 15px solid #ccc;
	border-right: 0 solid #ccc;
	border-bottom: 15px solid transparent;
	content: " ";
}

.timeline > li > .timeline-panel:after {
	position: absolute;
	top: 27px;
	right: -14px;
	display: inline-block;
	border-top: 14px solid transparent;
	border-left: 14px solid #fff;
	border-right: 0 solid #fff;
	border-bottom: 14px solid transparent;
	content: " ";
}

.timeline > li > .timeline-badge {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	position: absolute;
	top: 16px;
	left: 50%;
	margin-left: -25px;
	background-color: #999999;
	z-index: 100;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	border-bottom-right-radius: 50%;
	border-bottom-left-radius: 50%;
}

.timeline > li.timeline-inverted > .timeline-panel {
	float: right;
}

.timeline > li.timeline-inverted > .timeline-panel:before {
	border-left-width: 0;
	border-right-width: 15px;
	left: -15px;
	right: auto;
}

.timeline > li.timeline-inverted > .timeline-panel:after {
	border-left-width: 0;
	border-right-width: 14px;
	left: -14px;
	right: auto;
}

.timeline-badge.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge.success {
	background-color: #3f903f !important;
}

.timeline-badge.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge.danger {
	background-color: #d9534f !important;
}

.timeline-badge.info {
	background-color: #5bc0de !important;
}

.timeline-title {
	margin-top: 0;
	color: inherit;
}

.timeline-body > p,
.timeline-body > ul {
	margin-bottom: 0;
}

.timeline-body > p + p {
	margin-top: 5px;
}

.timeline-badge-help {
	color: #fff;
	width: 50px;
	height: 50px;
	line-height: 50px;
	font-size: 1.4em;
	text-align: center;
	top: 16px;
	left: 50%;
	background-color: #999999;
	z-index: 100;
	border-radius: 50%;
}

.timeline-badge-help.primary {
	background-color: #2e6da4 !important;
}

.timeline-badge-help.success {
	background-color: #3f903f !important;
}

.timeline-badge-help.warning {
	background-color: #f0ad4e !important;
}

.timeline-badge-help.danger {
	background-color: #d9534f !important;
}

.timeline-badge-help.info {
	background-color: #5bc0de !important;
}

.assignmentAssignee {
	font-weight: bold;
}

.assignmentVariant, .assignmentVersion {
	font-size: small;
}

.openAssignments, .newAssignments {
	width: 50%;
}

.profile-picture {
	background-color: white;
	border: 1px solid lightgray;
}

.loader {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#slider .ui-slider-range { background: #729fcf; }
#slider .ui-slider-handle { border-color: #729fcf; }
